.join.section {
  background-color: #f8c3cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join.section h1 {
  font-size: 50px;
  margin-bottom: 87px;
  margin-top: 0;
  font-weight: 600;
}


/*Join*/
.joinForm {
  display: flex;
  align-items: center;
}

.joinForm form label {
  display: inline-block;
  margin-right: 56px;
  font-size: 17px;
  width: 90px;
  font-weight: 600;
}

.joinForm form div:not(:last-of-type) {
  margin-bottom: 25px;
}

.joinForm form input {
  width: 310px;
  height: 42px;
  border: none;
  border-radius: 70px;
}

.joinForm button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 30px;
}

.joinForm button img {
  width: 100px;
}

.passwordContent {
  font-weight: bold;
}

.loginLink {
  margin-top: 30px;
  text-decoration: underline;
}


@media screen and (max-width: 700px){
  .join.section h1 {
    font-size: 50px;
  }

.joinForm {
  width: 80vw;
  flex-direction: column;
}

.joinForm form div{
  display: flex;
}

.joinForm form div label{
  margin-right: 10px;
}

.joinForm button {
  margin-left: 0;
  margin-top: 40px;
}

.joinForm button img{
  width: 60px;
}
}

@media screen and (max-width: 500px){


.joinForm form div input{
  width: 250px;
}

}