.login.section {
  background-color: #f8c3cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login.section h1 {
  font-size: 64px;
  margin-bottom: 87px;
  margin-top: 0;
  font-weight: 600;
}

.loginForm {
  display: flex;
  align-items: center;
}

.loginForm form label {
  display: inline-block;
  margin-right: 56px;
  font-size: 24px;
  width: 50px;
  font-weight: 600;
}

.loginForm form div:first-child {
  margin-bottom: 25px;
}

.loginForm form input {
  width: 310px;
  height: 42px;
  border: none;
  border-radius: 70px;
}

.loginForm button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 30px;
}

.loginForm button img {
  width: 100px;
}
