.edit.section {
  background-color: #f8c3cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit.section h1 {
  font-size: 50px;
  margin-bottom: 87px;
  margin-top: 0;
  font-weight: 600;
}

.editForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.editForm form label {
  display: inline-block;
  margin-right: 56px;
  font-size: 20px;
  width: 90px;
  font-weight: 600;
}

.editForm form div:not(:last-of-type) {
  margin-bottom: 25px;
}

.editForm form input {
  width: 310px;
  height: 42px;
  border: none;
  border-radius: 70px;
}

.editForm>.btns{
  display: flex;
  align-items: center;
}

.editForm>.btns a{
  font-size: 15px;
  font-weight: 600;
}

.editForm button {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  border: none;
  padding: 10px 25px;
  border-radius: 70px;
  font-weight: 600;
  background-color: white;
  color: rgb(32, 32, 32);
  cursor: pointer;
  margin-right: 15px;
}

.editForm button:hover {
  background-color: rgb(32, 32, 32);
  color: #f8c3cc;
}

.backToMypage {
  margin-top: 20px;
  border: none;
  padding: 10px 25px;
  border-radius: 70px;
  font-weight: 600;
  background-color: white;
  color: rgb(32, 32, 32);
  cursor: pointer;
}

.backToMypage:hover {
  background-color: rgb(32, 32, 32);
  color: #f8c3cc;
}
