@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.section {
  background-color: #f8c3cc;
}

.write.section {
  background-color: #f8c3cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search.section {
  background-color: #f8c3cc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search.section h1 {
  font-size: 64px;
  margin-bottom: 87px;
  margin-top: 0;
  font-weight: 600;
}

.searchForm {
  display: flex;
  align-items: center;
}

.searchForm form {
  text-align: center;
}

.searchForm form div {
  margin-bottom: 20px;
}

.searchForm form input {
  width: 310px;
  height: 42px;
  border: none;
  border-radius: 70px;
}

.searchForm button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 30px;
}

.searchForm button img {
  width: 100px;
}

.searchForm form p {
  font-size: 13px;
}

.searchResult {
  margin-top: 40px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchResult h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.searchResult div {
  margin-bottom: 7px;
}

.searchResult button {
  margin-top: 20px;
  border: none;
  padding: 5px 20px;
  border-radius: 70px;
  font-weight: 600;
  background-color: white;
  color: rgb(32, 32, 32);
  cursor: pointer;
}

.searchResult button:hover {
  background-color: rgb(32, 32, 32);
  color: #f8c3cc;
}

/*편지 적는 부분*/
.write.section {
  padding-top: 70px;
}

.contentForm {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contentForm form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -141px;
  margin-top: 24px;
}

.contentForm img {
  width: 360px;
}

.contentForm form textarea {
  font-family: Cafe24Ssurround;
  width: 260px;
  height: 150px;
  font-size: 13px;
  border: none;
  resize: none;
  border-radius: 10px;
  padding: 10px;
}

.contentForm form textarea:focus {
  outline: none;
}

.write.section > p {
  margin-top: 20px;
}

#textLen {
  font-size: 13px;
}

#Dear {
  font-weight: 600;
}

.sendBtn {
  width: 138px;
  height: 42px;
  background-color: white;
  border: none;
  font-size: 20px;
  border-radius: 70px;
  margin-top: 38px;
  cursor: pointer;
}

/*공유하는 부분*/
.section.share {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bunnyBlobImg {
  width: 350px;
  margin-top: 250px;
  margin-bottom: 30px;
}

.section.share > button {
  margin-top: 20px;
  border: none;
  padding: 5px 20px;
  border-radius: 70px;
  font-weight: 600;
  background-color: white;
  color: rgb(32, 32, 32);
  cursor: pointer;
  margin-bottom: 50px;
}

.section.share > button:hover {
  background-color: rgb(32, 32, 32);
  color: #f8c3cc;
}

@media screen and (max-width: 500px) {
  .search.section h1 {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .searchForm {
    flex-direction: column;
  }

  .searchForm form input {
    width: 250px;
    height: 42px;
    border: none;
    border-radius: 70px;
  }

  .searchForm button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 0px;
    margin-top: 20px;
  }

  .searchForm button img {
    width: 50px;
  }

  .searchForm form p {
    font-size: 13px;
  }

  .searchResult {
    margin-top: 40px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .searchResult h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .searchResult div {
    margin-bottom: 7px;
  }

  .searchResult button {
    margin-top: 20px;
    border: none;
    padding: 5px 20px;
    border-radius: 70px;
    font-weight: 600;
    background-color: white;
    color: rgb(32, 32, 32);
    cursor: pointer;
  }

  .searchResult button:hover {
    background-color: rgb(32, 32, 32);
    color: #f8c3cc;
  }
}
