.nav {
  width: calc(100vw - 200px);
  display: flex;
  padding: 30px 70px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8c3cc;
}

#logoImg {
  width: 50px;
}

.navLinks a:first-child {
  margin-right: 20px;
}

.navLinks a {
  font-size: 24px;
  font-weight: 600;
}

.active {
  color: white;
}

.navLinks > button {
  font-size: 24px;
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: #282c34;
  cursor: pointer;
}



@media screen and (max-width:500px){
  .nav {
    width: 80vw;
    padding: 30px;
  }
  
}